@font-face {
    font-family:'KaiseoDecol-Regular' ;
    src: url("../../public/font/KaiseiDecol-Regular.ttf")format("truetype");
    font-family:'NanumMyeongjo' ;
    src: url("../../public/font/NanumMyeongjo-Regular.ttf")format("truetype");
}
.Footer-container{
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: #e7eff5;
    padding: 52px 72px;

}
.Footer.title{
    font: size 1.2rem;
    font-family:'KaiseoDecol-Regular' ;

}
.Footer-section{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.Footer.title{
    font-size: 1.2rem;
    font-family: 'KaiseoDecol-Regular';
}
.Footer-subtitle{
    font-family: 'NanumMyeongjo';
}
.info-text-wrapper{
    display: flex;
    gap: 16px;
    font-family: 'NanumMyeongjo';
}
.info-text-1{
    color: #b8Bac6
}
.info-text-2{
    color: #9698a4
}
.Line1{
    display: flex;
    gap: 16px;
}
.Line2{
    display: flex;
    gap: 16px;
}